<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

 <context:component-scan base-package="com.baylogic">
	   		<context:include-filter type="regex" expression=".*.*" />
		</context:component-scan>
 
   <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
     <property name="prefix" value="/WEB-INF/jsp/" />
     <property name="suffix" value=".jsp" />
   </bean>
   
   <bean id="loginDelegate" class="com.baylogic.peoplecentral.delegate.LoginDelegate">
    <property name="userService" ref="userService"></property>
  </bean>
  
  <bean id="userService" class="com.baylogic.peoplecentral.service.impl.UserServiceImpl">
       <property name="userDao" ref="userDao"></property>
  </bean>
  
  <bean name="userDao" class="com.baylogic.peoplecentral.dao.impl.UserDaoImpl">
     <property name="dataSource" ref="ds"></property>
  </bean>
   
   <bean id="ds"
	  class="org.springframework.jdbc.datasource.DriverManagerDataSource">
      <property name="driverClassName" value="com.mysql.jdbc.Driver" />
	  <property name="url" value="jdbc:mysql://localhost:3307/peoplecentral" />
	  <property name="username" value="root" />
	  <property name="password" value="mysql" />
	</bean>
</beans>
